
.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.02rem solid var(--primary-color);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    text-decoration: none;
    font-family: 'montserrat', sans-serif;
    color: #000000;
    background-image: linear-gradient(purple, purple);
    background-size: 0% 0.2rem;
    background-repeat: no-repeat;
    transition: background-size 0.3s;
    margin: 0.5rem 0;
    background-position: 50% calc(100% - 0.0rem);
}

.menu ul li a:hover {
    background-size: 100% 0.2rem;
}

.menu h1 a {
    color: inherit;
    text-decoration: none;
}