.main-bg {
    background-image: url("../img/confetti-doodles.svg");
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}

.white-bg {
    background: var(--white-color);
}

.spaceTop {
    margin-top: 13rem;
}

.home-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    justify-content: center;
}

.home-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-img {
    background-image: url(../img/undraw_static-assets_di5m.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 40rem;
}

.home-text-content h2 { 
    font-size: 6rem;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 5rem;
}

.trump-content h1{
    text-align: center;
}

.trump-content{
    max-width: 64rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.grid-content{ 
    height: 100vh;
    max-width: 64rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

}